* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

div {
    position: relative;
    top: 150px;
}

#login, #register {
    border: none;
    width: 100px;
    height: 30px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: none;
    text-align: center;
    margin-right: 20px;
    margin-top: 50px;
    transition: 1s;
    outline: none;
}

#login:hover, #register:hover {
    width: 150px;
    border: 2px solid #ffcd00;
}

#register {
    margin-left: 20px;
}

#id_username {
    width: 100px;
    margin-left: 30px;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    text-indent: 10px;
}

#id_username:focus {
    width: 175px;
    border: 2px solid red;
}

#id_password {
    width: 100px;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    text-indent: 10px;
}

#id_password:focus {
    width: 175px;
    border: 2px solid red;
}

h2 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: lighter;
}